* {
  font-family: monospace;
}

html {
  background-color: #f2f2f2;
}

body { 
  max-width: 33em;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  padding: 4em;
}

h1 {
  border-top: 2px solid #f2f2f2;
  padding-top: 3em;
}

a .control {
  display: none;
}

a:hover .emoji {
  display: none;
}

a:hover .control {
  display: inline;
}

table {
  border-collapse: collapse;
  margin-bottom: 2em;
  width: 100%;
}

hr::before {
  content: "\1F346\1F346\1F346";
  display: block;
  text-align: center;
  margin: 3em;
}

hr {
  border: 0;
}

table tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

table td {
  padding: 1em;
}

table th {
  padding: 1em;
}

.task-list-item {
  list-style-type: none;
}

@media only screen and (max-width: 480px) {
  .task-list-item {
    margin: 0 5em 0.25em -2em;
  }

  .task-list-item input[type="checkbox"] {
    width: 2em;
    height: 2em;
    vertical-align: middle;
  }
}
