*{ font-family: "Lucida Console", "Courier New", monospace; }
html {
  background-color: #f2f2f2;
}
body { 
 max-width: 400px;
 margin-right:  auto;
 margin-left:  auto;
 background-color: white;
 border: 50px solid white;
}
form  {
    display: table; 
    margin-left: auto;
    margin-right: auto;
}
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
input[type="submit"] {
    margin: 30 0 80 60;
    border: none;
    font-size: 24px;
    padding: 14px 32px;
}
.balanced {
  max-inline-size: 50ch;
  text-wrap: balance;
}
